<div class="header">
  <div class="left-section">
    <div class="logo-container">
        <img src="https://imgs.search.brave.com/uIVrVhaNRkBkhwS9tb8e5niVP4-4om-pjtOuWF77CLs/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9zdGFy/d2VzdC50ZWNod2Vs/bC5jb20vc2l0ZXMv/ZGVmYXVsdC9maWxl/cy9Bc3BpcmUlMjBT/eXN0ZW1fTmV3JTIw/TG9nby5wbmc" alt="Logo" class="logo" />
    </div>
    
    <span class="page-title">Talent Nurturing | Management</span>
  </div>

  <div class="right-section">
    <input type="text" placeholder="Search" class="search-bar" />
    <i class="fa fa-cog icon"></i>
    <i class="fa fa-bell icon"></i>
    <img src="https://imgs.search.brave.com/YhYNFq2vUOv555RkotQYsUWvhyxtV9DftHvVACUimKQ/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/cHJlbWl1bS12ZWN0/b3IvYXZhdGFyLXBy/b2ZpbGUtaWNvbi1m/bGF0LXN0eWxlLWZl/bWFsZS11c2VyLXBy/b2ZpbGUtdmVjdG9y/LWlsbHVzdHJhdGlv/bi1pc29sYXRlZC1i/YWNrZ3JvdW5kLXdv/bWVuLXByb2ZpbGUt/c2lnbi1idXNpbmVz/cy1jb25jZXB0XzE1/Nzk0My0zODg2Ni5q/cGc_c2VtdD1haXNf/aHlicmlkJnc9NzQw" alt="Profile" class="profile-photo" />
  </div>
</div>
